virtualenv/
*.txt
*.pyc
superlists/__pycache__/
virtualenv/Lib/site-packages/django/core/__pycache__/paginator.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/__pycache__/signals.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/__pycache__/signing.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/__pycache__/wsgi.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/cache/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/cache/backends/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/cache/backends/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/caches.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/database.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/messages.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/model_checks.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/registry.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/templates.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/urls.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/compatibility/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/compatibility/__pycache__/django_1_8_0.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/compatibility/__pycache__/django_1_10.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/security/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/security/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/security/__pycache__/csrf.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/checks/security/__pycache__/sessions.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/images.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/locks.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/move.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/storage.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/temp.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/uploadedfile.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/uploadhandler.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/files/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/handlers/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/handlers/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/handlers/__pycache__/exception.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/handlers/__pycache__/wsgi.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/mail/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/mail/__pycache__/message.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/mail/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/management/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/management/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/management/__pycache__/color.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/management/__pycache__/sql.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/serializers/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/serializers/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/serializers/__pycache__/json.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/serializers/__pycache__/python.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/servers/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/core/servers/__pycache__/basehttp.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/__pycache__/transaction.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/backends/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/backends/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/__pycache__/exceptions.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/__pycache__/migration.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/__pycache__/state.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/operations/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/operations/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/operations/__pycache__/fields.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/operations/__pycache__/models.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/operations/__pycache__/special.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/migrations/operations/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/aggregates.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/constants.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/deletion.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/expressions.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/indexes.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/lookups.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/manager.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/options.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/query_utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/query.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/signals.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/files.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/proxy.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/related_descriptors.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/related_lookups.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/related.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/fields/__pycache__/reverse_related.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/functions/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/functions/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/functions/__pycache__/datetime.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/sql/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/sql/__pycache__/constants.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/sql/__pycache__/datastructures.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/sql/__pycache__/query.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/sql/__pycache__/subqueries.cpython-38.pyc
virtualenv/Lib/site-packages/django/db/models/sql/__pycache__/where.cpython-38.pyc
virtualenv/Lib/site-packages/django/dispatch/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/dispatch/__pycache__/dispatcher.cpython-38.pyc
virtualenv/Lib/site-packages/django/http/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/http/__pycache__/cookie.cpython-38.pyc
virtualenv/Lib/site-packages/django/http/__pycache__/multipartparser.cpython-38.pyc
virtualenv/Lib/site-packages/django/http/__pycache__/request.cpython-38.pyc
virtualenv/Lib/site-packages/django/http/__pycache__/response.cpython-38.pyc
virtualenv/Lib/site-packages/django/template/__pycache__/defaultfilters.cpython-38.pyc
virtualenv/Lib/site-packages/django/template/__pycache__/defaulttags.cpython-38.pyc
virtualenv/Lib/site-packages/django/template/__pycache__/loader_tags.cpython-38.pyc
virtualenv/Lib/site-packages/django/template/__pycache__/response.cpython-38.pyc
virtualenv/Lib/site-packages/django/template/__pycache__/smartif.cpython-38.pyc
virtualenv/Lib/site-packages/django/test/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/test/__pycache__/client.cpython-38.pyc
virtualenv/Lib/site-packages/django/test/__pycache__/html.cpython-38.pyc
virtualenv/Lib/site-packages/django/test/__pycache__/signals.cpython-38.pyc
virtualenv/Lib/site-packages/django/test/__pycache__/testcases.cpython-38.pyc
virtualenv/Lib/site-packages/django/test/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/urls/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/urls/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/urls/__pycache__/exceptions.cpython-38.pyc
virtualenv/Lib/site-packages/django/urls/__pycache__/resolvers.cpython-38.pyc
virtualenv/Lib/site-packages/django/urls/__pycache__/utils.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/autoreload.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/baseconv.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/crypto.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/lorem_ipsum.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/regex_helper.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/termcolors.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/timesince.cpython-38.pyc
virtualenv/Lib/site-packages/django/utils/__pycache__/tree.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/__pycache__/debug.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/__pycache__/static.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/generic/__pycache__/__init__.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/generic/__pycache__/base.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/generic/__pycache__/dates.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/generic/__pycache__/detail.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/generic/__pycache__/edit.cpython-38.pyc
virtualenv/Lib/site-packages/django/views/generic/__pycache__/list.cpython-38.pyc
